.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  color: $light-o-75;
}

.color-light {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6 {
    color: $dark-o-75;
  }
}

@include utility(
  "display",
  font-size,
  (
    1: 4rem,
    2: 3.5rem,
    3: 3rem,
    4: 2.5rem,
    5: 2rem,
    6: 1.5rem,
    /** Default `p` & `li` font-size */ 7: 1.2rem,
    8: 1rem,
  )
);
