@include utility(
  "p",
  padding,
  (
    8: 8px,
    12: 12px,
    16: 16px,
    24: 24px,
    36: 36px,
  ),
  (
    md: (
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
    ),
    lg: (
      24: 24px,
    ),
  )
);
