.title-7 {
  font-size: 56px;
  margin-top: 56px;
  line-height: 56px;
  margin-bottom: 42px;
}

h1 {
  font-size: 42px;
  margin-top: 42px;
  margin-bottom: 32px;
}

h2 {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 24px;
}

.paragraph-2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 14px;
}

.hol-adin::after {
  content: "*";
  color: $highbs;
}

@media (min-width: #{map.get($breakpoints, md)}) {
  h1 {
    font-size: 64px;
    margin-top: 64px;
    margin-bottom: 48px;
  }

  h2 {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
