h1 {
  font-size: 42px;
  margin-top: 42px;
  margin-bottom: 32px;
}

h2 {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 24px;
}

@media (min-width: #{map.get($breakpoints, md)}) {
  h1 {
    font-size: 64px;
    margin-top: 64px;
    margin-bottom: 48px;
  }

  h2 {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
