h1 {
  font-size: 42px;
  margin-top: 42px;
  margin-bottom: 32px;
}

@media (min-width: #{map.get($breakpoints, md)}) {
  h1 {
    font-size: 64px;
    margin-top: 64px;
    margin-bottom: 48px;
  }
}
