p,
li {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1.2rem;
}

blockquote > p {
  font-size: 2.5rem;
  font-family: dancing-script-regular;
}

.title-7 {
  font-size: 56px;
  margin-top: 56px;
  line-height: 56px;
  margin-bottom: 42px;
}

h1 {
  font-size: 42px;
  margin-top: 42px;
  margin-bottom: 36px;
}

h2 {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 24px;
}

h2,
h3,
h4,
h5,
h6 {
  color: $dark-o-75;
}

.color-light {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-o-75;
  }
}

.hol-adin::after {
  content: "*";
  color: $highbs;
}

@media (min-width: #{map.get($breakpoints, md)}) {
  h1 {
    font-size: 64px;
    margin-top: 64px;
    margin-bottom: 48px;
  }

  h2 {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
