$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$dark: #1d1d1d;
$dark-o-90: #1d1d1dcd;
$dark-o-75: #1d1d1dbb;
$dark-o-30: #1d1d1d4d;
$light: #f5f5f5;
$light-o-90: #f5f5f5cd;
$light-o-75: #f5f5f5bb;
$light-o-50: #f5f5f588;
$psik: #72195a;
$highbs: #f4b942;

$colors: (
  dark: $dark,
  dark-o-90: $dark-o-90,
  dark-o-75: $dark-o-75,
  light: $light,
  light-o-90: $light-o-90,
  light-o-75: $light-o-75,
  light-o-50: $light-o-50,
  psik: $psik,
  highbs: $highbs,
  unset: unset,
);
