$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$dark: #1d1d1d;
$light: #f5f5f5;
$primary: #72195a;
$secondary: #4c1036;
$tertiary: #6b5ca5;

$colors: (
  dark: $dark,
  light: $light,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
);
