$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$dark: #1d1d1d;
$dark-o-30: #1d1d1d4d;
$light: #f5f5f5;
$primary: #72195a;
$secondary: #f4b942;

$colors: (
  dark: $dark,
  light: $light,
  primary: $primary,
  secondary: $secondary,
);
