$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$dark: #1d1d1d;
$dark-o-30: #1d1d1d4d;
$light: #f5f5f5;
$psik: #72195a;
$highbs: #f4b942;
$dark-brown: #735e44;

$colors: (
  dark: $dark,
  light: $light,
  psik: $psik,
  highbs: $highbs,
  dark-brown: $dark-brown,
);
