@use "sass:map";

@import "./variables";
@import "./utilities";
@import "./fonts";
@import "./typo";

body {
  background-color: $psik;
  margin: 0;
}

@import "./_components/container";
@import "./_components/cards";
@import "./_components/navbar";
@import "./_components/links-list";
