/// Creates a rule for every key-value couple in `$set`.
@mixin utility($prefix, $property, $set: []) {
  @each $key, $value in $set {
    .#{$prefix}-#{$key} {
      #{$property}: #{$value};
    }
  }
}
