.card {
  &.call_to_action {
    text-decoration: none;
  }
}
.card__content {
  p a,
  ul a {
    color: $psik;
    font-weight: bold;
  }
  ul {
    padding-left: 16px;
  }
  li {
    padding: 4px 0;
  }
}
