.links_list {
  > .card__content > div > a {
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    &:not(:last-child) {
      border-bottom: solid 1px $dark-o-30;
    }
  }
}
