#navbar {
  #navbar__btns {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    > a {
      font-family: mono-regular;
      font-size: 2rem;
    }
    > button {
      border: none;
      background: none;
    }
  }
}
